.student-list__item {
    line-height: 50px;
}

.student-list__item__userpic {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position: center center;
    overflow: hidden;
    vertical-align: middle;
}

.student-list__item__name {
    font-size: 18px;
    text-align: center;
    margin: 0 0 0 10px;
}

.socials {
    padding: 0;
    overflow: hidden;
}

.socials__item {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 7px 0 0;
}

.socials__item__vk::after {
    content: "vk";
}

.socials__item__facebook::after {
    content: "fb";
}

.socials__item__github::after {
    content: "gh";
}

.socials__item__ya::after {
    content: "ya";
}