.student-list__item {
    line-height: 50px;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin: 0 0 20px 0;
}

.student-list__item__userpic {
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    vertical-align: middle;
}

.student-list__item__name {
    font-size: 18px;
    text-align: center;
    margin: 0 0 0 10px;
}

.socials {
    padding: 0;
    overflow: hidden;
}

.socials__item {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 7px 0 0;
}

.socials__item__vk::after {
    content: "vk";
}

.socials__item__facebook::after {
    content: "fb";
}

.socials__item__github::after {
    content: "gh";
}

.socials__item__ya::after {
    content: "ya";
}







.student-card_photo,
.student-card_info {
    float: left;
}

.student-card_photo {
    margin: 0 20px 0 0;
}

.student-card_name-wrapper {
    line-height: 13px;
    margin: 0 0 20px 0;
}

.student-card_socials {
    display: inline-block;
    margin: 0 0 0 20px;
}

.student-card_socials__item {
    float: left;
    margin: 0 7px 0 0;
    /*width: 20px;
    height: 20px;*/
}

.student-card_socials__item_link_vk::after {
    content: 'vk';
}

.student-card_socials__item_link_facebook::after {
    content: 'facebook';
}

.student-card_socials__item_link_github::after {
    content: 'github';
}

.student-card_socials__item_link_ya::after {
    content: 'ya';
}

