<h1 class="header__title">
    <a class="link header__title-link" href="#">
        <span class="header__title-link__first-letter">В</span>ыпускной альбом ШРИ
    </a>
</h1>
<ul class="header__links">
    {{#each .}}
        {{#if title}}
            <li class="header__links__item header__links__item_{{id}}">
                <a class="header__links__item_link" href="#{{route}}">{{title}}</a>
            </li>
        {{/if}}
    {{/each}}
</ul>