<div class="twitter-wrapper">
    <a class="twitter-timeline" href="https://twitter.com/search?q=%23shri" data-widget-id="388997199356370945" accesskey=""
        data-chrome="nofooter transparent">
        Tweets about "#shri"
    </a>
    <script></script>
</div>